.projectInfo{
    margin-top: 20px;
    margin-left: 150px;
}
h1{
    color: rgb(92,10,92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.p{
    color: #41434c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}